@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #ffffff;
	--gray: #ffffff5c;
	--blue: #09245a;
	--blue-light: #112095;
	--sky-blue: #0dc7d2;
	--sky-blue-light: #65d6fc;
	--sky-blue-gradient: #65d6fc27;
	--purple: #5e17eb;
}

@media (prefers-color-scheme: dark) {
	:root {
		--white: #ffffff;
		--gray: #ffffff5c;
		--blue: #09245a;
		--blue-light: #112095;
		--sky-blue: #0dc7d2;
		--sky-blue-light: #65d6fc;
		--sky-blue-gradient: #65d6fc27;
		--purple: #5e17eb;
	}
}

// @layer utilities {
// }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--white);
	background-color: var(--blue);
	font-family: var(--poppins) sans-serif;

	height: 100vh;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		330deg,
		var(--blue) 0%,
		var(--blue) 20%,
		var(--blue-light) 100%
	);

	overflow: hidden;
}
