@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: #ffffff;
	--gray: #ffffff5c;
	--blue: #09245a;
	--blue-light: #112095;
	--sky-blue: #0dc7d2;
	--sky-blue-light: #65d6fc;
	--purple: #5e17eb;
}

@media (prefers-color-scheme: dark) {
	:root {
		--white: #ffffff;
		--gray: #ffffff5c;
		--blue: #09245a;
		--blue-light: #112095;
		--sky-blue: #0dc7d2;
		--sky-blue-light: #65d6fc;
		--purple: #5e17eb;
	}
}

body {
	color: white;
	background: black;
	font-family: var(--poppins) sans-serif;
}
